# Virtual environment
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Data & SQLite local cache
data/*.db
data/*.sqlite
data/*.sqlite3
data/cache/

# Model & Artifact caches (ignore large binary weights)
models/artifacts/*.joblib
models/artifacts/*.pkl
models/artifacts/*.index
.cache/

# IDE
.vscode/
.idea/
